<ion-header>
  <div class="header">
    <!-- Botón de retroceso -->
    <ion-buttons slot="start" class="back-button-container">
      <ion-back-button
        defaultHref="/menu-principal"
        icon="arrow-back-outline"
        text=""
        class="custom-back-btn"
      ></ion-back-button>
    </ion-buttons>

    <!-- Contenedor flexible para título y botón -->
    <div class="header-content">
      <h1 class="titulo-header">Reuniones Programadas</h1>

      <ion-button
        fill="solid"
        color="light"
        class="nueva-reunion-btn"
        size="small"
        (click)="goToNuevaReunion()"
      >
        <ion-icon name="add" slot="start"></ion-icon>
        Nueva Reunión
      </ion-button>
    </div>
  </div>
</ion-header>

<ion-content class="main-content">
  <div class="container">
    <ion-card *ngFor="let reunion of reuniones$ | async">
      <ion-card-header>
        <ion-card-title>{{ reunion.asunto }}</ion-card-title>
        <ion-card-subtitle
          >{{ reunion.fecha }} - {{ reunion.hora }}</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content>
        <div class="botones-reunion">
          <ion-button
            size="small"
            color="success"
            [disabled]="!reunion.enlaceZoom"
            [href]="reunion.enlaceZoom"
            target="_blank"
          >
            Comenzar
          </ion-button>

          <ion-button
            size="small"
            color="info"
            (click)="goToDetalleReunion(reunion.id)"
          >
            Detalles
          </ion-button>

          <ion-button
            size="small"
            color="danger"
            (click)="eliminarReunion(reunion.id)"
          >
            Eliminar
          </ion-button>

          >
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
